<p id="notice"><%= notice %></p>

<p>
  <strong>user_foto:</strong>
  <%= @user.user_foto %>
  <%= image_tag(@user.user_foto, class: 'list_image')%>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.Name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
